
.nav_opt{
    display: inline;
    padding-left:20px ;
    padding-right:20px ;
    border-bottom-style:solid;
    border-bottom-color: black;
    border-radius: 5px;
    border-width: 3px;
    width: 360px;
    color: white;
  }
 .nav_opt:hover {
    background-color: rgb(62, 88, 141);
  }
  a.nav_opt_link{
    text-decoration: none;
    color: inherit;
  }
  .basjs{
    padding-left: 20px;
  }
  nav{
    padding-right: 25px;
  }
  .H{
    text-decoration: none;
    color: black;
  }